body{
  background: #0c0c0c;
 
}
.container-fluid{
  position: relative;
}

#brand{
  font-family: 'Kanit', sans-serif;
}
ul#navbar-navigation  li a{
  color: inherit;
  margin-right: 20px;
  color: #b4a8a8;
  transition: .3s;
  font-weight: 600;
}
.Navbar{
  z-index: 1;
  background-color: #0c0c0b7a;
 backdrop-filter: blur(50px);
}
ul#navbar-navigation li a:hover{
  color: #fff;
  background: #36e436;
  border-radius: 16px;
}
li#Social-links{
  position: absolute;
  right: 80px;
  bottom: 1px;
}
li#Social-links #socialDropdown i{
  color: #1ab81a;
  font-size: 20px;
 
}

li#Social-links ul li{
  color: inherit;
}
li#Social-links ul li a{
  color: #1ab81a;
}

li#Social-links ul li a:hover{
  color: #fff;
}
li#Social-links ul li a i{
 color: inherit;
 font-size: 1.2em;
}



/* Home section */
.home-row{
  display: flex;
  justify-content: space-between;
}
div.home-description h1{
  font-size: 60px;
  display: inline-block;
  font-family: 'Kanit', sans-serif;
  padding:0 10px;
  border-right: 3px solid #34e934f6;
  border-bottom: 3px solid #34e934f6;
  border-radius: 15px;
}
div.home-description .sub{
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  color: #36e436;
  line-height: 1;
}
div.home-description .descrip{
 font-size: 15px;
}
.About{
 
animation: grdn 3s 1s infinite;

}

@keyframes grdn {
  0%{
  background-image: linear-gradient(to bottom left, #91db9c, rgb(69, 196, 69),rgb(85, 179, 41));
  }
  25%{
    background-image: linear-gradient(to top right, #8ecab1, rgb(34, 207, 34));
  }
  75%{
    background-image: linear-gradient(to top left, #6eca7d, #3ce03c);
  }
  100%{
    background-image: linear-gradient(to bottom right, #84d187, #22cf22);
  }
  
}

.about-heading{
  font-family: 'Kanit', sans-serif;
  font-size: 35px;
}
.aboutimage{
  width: 400px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px 5px rgb(85, 116, 101) ;
  
}
.about-des{
  font-size: 17px;
}

/* skills section */
.skill-head h2 {
  font-size: 50px;
}

.skill-head p{
width: 70%;
margin: 2px auto;
}

.skill-dis{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.skill-dis h3,.skill-dis p{
  color: #36e436;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  

}

.box-border{
  border: 2px solid #4ac04a;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px rgb(106, 228, 106);
  margin-top: 6px;
}

#skill{
height:12px;
border-radius:8px;
}

.percent{
  height:10px;
position:absolute;
border-radius:8px;
top:1px;
left:1px;

background:#1ee71e;
display:inline-block;
}

/* projects-section */

/* for background color and head setting */
.projects{
  background-image:linear-gradient(to left bottom,#1edd1e,#71cc71);

}
.project-head h2{
 font-size: 40px; 
}
.project-head p{
  width: 70%;
  margin: 0 auto;
  font-size: 17px;
}
/* project cards section */
.project-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-cards div img{
  border-radius: 5px;
  border: 10px solid #034d0863;
  cursor: pointer;
  transition: .3s;
}
.project-cards div img:hover{
  border: none;
  border-radius: 10px;
  transition: .3s;
  margin-bottom: 0;
  box-shadow: #dad5d5 1px 2px 20px 10px;
}

/* Footer section */
.Footer{
background-image:linear-gradient(to left bottom,#1edd1e,#71cc71);

}
.Footer div h4{
  font-family: 'Kanit', sans-serif;
  
}
.Footer div div a{
  font-size: 30px;
  color: #fff;
  margin-left: 20px ;
}

/* lower footer part */
.Lower-footer p{
  color: #999898;
}

/* contactme section */
.Contactme{
  background-image: url("./images/contactme.jpg");
  background-size: cover;

  
}
.overlay{
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: rgba(3, 3, 3, 0.466);
  
}
.contactme-heading p{
  width: 75%;
  margin: 0 auto;
}

.contact-form form #username , .contact-form form #e-mail ,.contact-form form #message{
 width: 100%;
 border: none;
 outline:  none;
 border-bottom:2px solid #000 ;
}
.contact-form form #username,.contact-form form #e-mail,.contact-form form #message::placeholder{
 font-weight: 600;
}

.content{
  display: flex;
  justify-content: space-around;
}

/* local-link section */

.location-link{
  left: 57px;
}
.locallink-2{
  margin-top: 100px;
}
.locallink-3{
  margin-top: 70px;
}